.popUpBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border: red solid 2px;
}

.popUpContent {
	background: white;
	padding: 20px;
	border-radius: 8px;
	position: relative;
	max-width: 700px;
	height: 50%;
	width: 80%;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popUpClose {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	cursor: pointer;
}
