.outerBox {
	height: 100%;
}

.content {
	box-sizing: border-box;
	display: flex;
	width: 50%;
	height: 90%;
	flex-direction: column;
	padding: 0% 1%;
}

.separate {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.stockButton {
	gap: 30px;
}

.close {
	margin-top: 20px;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}
