.button{
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
    transform: scale(1);
    transition: transform 2s ease-out;
}

.button:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.button:active {
    transform: scale(0.7);
    transition: transform .1s linear;
}

