body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kanit", serif;
}

.nav {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: lightblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	padding: 1rem;
	height: 80px;
}

.nav .logo {
	height: 40px;
}

.nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav li {
	margin: 0px 25px;
}

.content {
	margin-top: 80px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 20px;
	padding: 10px;
	width: 200px;
	height: 250px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px;
}

.product-info {
	display: flex;
	justify-content: space-around;
	width: 100%;
	font-weight: bold;
	align-items: center;
}

.product-photo {
	height: 50%;
	width: auto;
	border-radius: 5px;
}

.price-int {
	font-size: large;
}

.filter {
	box-sizing: border-box;
	height: 60px;
	border: black solid 1px;
	padding: 10px;
	gap: 40px;
}

label {
	margin-right: 10px;
}

.close * {
	margin: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 16px;
	text-align: left;
	background-color: #f9f9f9;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
	background-color: #9a98b6;
	color: white;
}

thead th {
	padding: 12px 15px;
	font-weight: bold;
}

tbody tr {
	border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
	background-color: #dbd6d6;
}

tbody tr:hover {
	background-color: #e9f5e9;
	cursor: pointer;
}

td {
	padding: 12px 15px;
	color: #333;
}

tbody tr:last-child td {
	border-bottom: none; /* Removes the border from the last row */
}

.supply-order-header {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.most-height {
	height: 85%;
}

.product-slider {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;
}

.product-list {
	display: flex;
	gap: 20px;
	transition: transform 0.3s ease-in-out;
}

.product-list.left {
	transform: translateX(-100%);
}

.product-list.right {
	transform: translateX(100%);
}

.arrow {
	border-radius: 10px;
	padding: 10px 10px;
	border: none;
	font-size: x-large;
}

.arrow:hover {
	background-color: lightblue;
	cursor: pointer;
}

#quantity {
	width: 10%;
}

body,
html {
	height: 100vh;
	margin: 0;
}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
	height: 60vh;
	width: 50vh;
	border-radius: 5vh;
	box-shadow: #9a98b6 0px 0px 10px;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

input {
	margin-top: 0.2rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
}
