body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", serif;
}

.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
  height: 80px
}

.nav .logo {
  height: 40px;
}


.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  border: black solid 2px;
}

.nav li {
  margin: 0px 25px;
}

.content{
  margin-top: 80px;
  border: black solid 2px;
}